<a href="https://colab.research.google.com/github/przol007/Digital-E-Book-Library-System/blob/main/GROUP_150_CN7031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Big Data Analytics [CN7031] CRWK 2023-24**
# **Group ID: [150]**
1.   Student 1: Prajol Chaudhary and u2517700
2.   Student 2: Ramesh Molligoda and u2531449
3.   Student 3: Srija Padigapati and u2520396
4.   Student 4: Puspa Khanal Timilsena and u2530657

---


If you want to add comments on your group work, please write it here for us:


# **Initiate and Configure Spark**

---

In [ ]:
!pip3 install pyspark

In [ ]:
# linking with Spark

# **Load Unstructured Data and Convert it to Spark DF [10 marks]**

---

In [ ]:
# Load the unstructrued data: (1) drag and drop data here or (2) use Google Drive

In [ ]:
# Convert the unstructrued data to Spark DF


# **Task 1: Spark SQL [30 marks]**

---

In [ ]:
# Student 1 name and ID
# Query 1 [Briefly explain with output]:

In [ ]:
# Student 1 name and ID
# Query 2 [Briefly explain with output]:

In [ ]:
# Student 2 name and ID
# Query 1 [Briefly explain with output]:

In [ ]:
# Student 2 name and ID
# Query 2 [Briefly explain with output]:

In [ ]:
# Student 3 name and ID
# Query 1 [Briefly explain with output]:

In [ ]:
# Student 3 name and ID
# Query 2 [Briefly explain with output]:

In [ ]:
# Student 4 name and ID
# Query 1 [Briefly explain with output]:

In [ ]:
# Student 4 name and ID
# Query 2 [Briefly explain with output]:


# **Task 2 - Spark RDD [50 marks]**

---

In [ ]:
# Student 1 name and ID
# analysis 1 and result using RDD operators:

In [ ]:
# Student 1 name and ID
# analysis 2 and result using RDD operators:

In [ ]:
# Student 1 name and ID
# analysis 3 and result using RDD operators:

In [ ]:
# Student 2 name and ID
# analysis 1 and result using RDD operators:

In [ ]:
# Student 2 name and ID
# analysis 2 and result using RDD operators:

In [ ]:
# Student 2 name and ID
# analysis 3 and result using RDD operators:

In [ ]:
# Student 3 name and ID
# analysis 1 and result using RDD operators:

In [ ]:
# Student 3 name and ID
# analysis 2 and result using RDD operators:

In [ ]:
# Student 3 name and ID
# analysis 3 and result using RDD operators:

In [ ]:
# Student 4 name and ID
# analysis 1 and result using RDD operators:

In [ ]:
# Student 4 name and ID
# analysis 2 and result using RDD operators:

In [ ]:
# Student 4 name and ID
# analysis 3 and result using RDD operators:


# **Task 3 - LSEP (legal, social, ethical, and professional) considerations [5 marks]**

---

For all analyses performed, critically analyze the legal, social, ethical, and professional implications associated with the data and the analysis. Consider factors such as `data privacy`,` data protection`, `bias`, `fairness`, `transparency`, and the `potential impact` of the analysis on individuals or society as a whole.

**Each student should take one of these factors as their contribution.**

As a team, discuss and share your individual analyses and LSEP considerations with each other. Learn from each other's perspectives and insights.

## Student 1: chosen factor

*discussion*


## Student 2: chosen factor

*discussion*

## Student 3: chosen factor

*discussion*


## Student 4: chosen factor

*discussion*

# **Convert ipynb to HTML for Turnitin submission [5 marks]**

---

In [ ]:
# install nbconvert
#!pip3 install nbconvert


# convert ipynb to html
# file name: "Your_Group_ID_CN7031.ipynb
!jupyter nbconvert --to html Your_Group_ID_CN7031.ipynb